{% extends 'main.html' %}

{% block content %}
<main class="update-account layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'home' %}">
                        <svg height="32" version="1.1" viewBox="0 0 32 32" width="32"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>See Game Stats</h3>
                </div>
            </div>
            <div class="layout__body">
                <div class="form__group">
                    <label>Score</label>
                    <div class="score">
                        <div class="score__item">
                            <span class="score__label">Player:</span>
                            <span class="score__value">{{game.score.User}}</span>
                        </div>
                        {% if is_online %}
                        <div class="score__item">
                            <span class="score__label">{{game.opponent}}:</span>
                            <span class="score__value">{{game.score.User2}}</span>
                        </div>
                        {% else %}
                        <div class="score__item">
                            <span class="score__label">Computer:</span>
                            <span class="score__value">{{game.score.Computer}}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                { if game.opponent == user }
                <div class="form__group">
                    <label>Result</label>
                    <input disabled id="result" name="result" type="text" value="{{game.result}}">
                </div>

                {% if is_online %}
                <div class="form__group">
                    <label>Opponent</label>
                    <input disabled id="opponent" name="opponent" type="text" value="{{game.opponent.username}}">
                </div>
                {% endif %}
                <div class="form__group">
                    <label>Best of</label>
                    <input disabled id="best_of" name="best_of" type="text" value="{{game.best_of}}">
                </div>
                <div class="form__group">
                    <label>Rounds Played</label>
                    <input disabled id="rounds_played" name="rounds_played" type="text" value="{{game.rounds_played}}">
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Round</th>
                        <th>Player Move</th>
                        <th>Opponent Move</th>
                        <th>Outcome</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for round in rounds %}
                    <tr>
                        <td>{{round.round_number}}</td>
                        <td>{{round.player_move}}</td>
                        <td>{{round.opponent_move}}</td>
                        <td>{{round.outcome}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="form__action">
                    <a class="btn btn--dark" href="{% url 'user-profile' game.user.id %}">Cancel</a>
                </div>


            </div>
        </div>
    </div>
</main>
<style>

.score{
    display: inline-block
}
.score__item{
    margin-right: 10px;
}
.score__label{
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: snow;
    margin-bottom: 20px;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
}

tr:nth-child(even) {
    background-color: #2D2D39;
}



</style>
{% endblock content %}