{% load static %}
{% csrf_token %}
<div class="room__conversation">
    <div class="scoreboard">
        <h2 id="best-of">Scoreboard: Best of:</h2>
        <table>
            <thead>
            <td>Player</td>
            <td id="roundOrResult">Round</td>
            <td>Computer</td>
            </thead>
            <tbody>
            <tr>
                <td class="Player-count">0</td>
                <td class="Round-count"></td>
                <td class="Computer-count">0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="threads scroll">
    <form enctype="multipart/form-data" method="POST">
        <div id="videos">
            <video autoplay class="video-player" id="user-1" playsinline></video>
            <canvas id="canvas-user-1"></canvas>
        </div>
        <div id="controls">
            <div class="control-container" id="camera-btn">
                <img src="{% static 'icons/photo-camera.png' %}"/>
            </div>
            <div class="control-container" id="play-btn">
                <img src="{% static 'icons/shuffle.png' %}"/>
            </div>

            <div class="control-container" id="start-btn">
                <img src="{% static 'icons/play-button.png' %}"/>
            </div>
            <div class="control-container" id="leave-btn">
                <img src="{% static 'icons/cancel.png' %}"/>
            </div>
        </div>
    </form>
</div>


<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
<script src="{% static 'js/agora-rtm-sdk-1.5.1.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>

<script>
let game;
let game_id;
const csrftoken = getCookie('csrftoken');
let roomId = getRoomId();
if (!roomId) {
    window.location.href = '/'
}
let localStream;
let bestOf;
let init = async () => {
    localStream = await navigator.mediaDevices.getUserMedia(constraints)
    document.getElementById('user-1').srcObject = localStream
    play_button.style.display = 'none'
}

let startGame = async () => {
    bestOf = prompt("Best of how many games? (1, 3, 5, 7, 9, 11, 13)");
    //only prompts once it needs to keep until a valid number is entered
    while (bestOf % 2 == 0 || bestOf < 1 || bestOf > 13) {
        bestOf = prompt("Best of how many games? (1, 3, 5, 7, 9, 11, 13)");
    }

    document.getElementById('best-of').innerHTML = "Scoreboard: Best of: " + bestOf;
    let response = await fetch('/start_game_offline/' + roomId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
            bestOf: bestOf
        })
    });
    let data = await response.json();
    if (data.success) {
        console.log("Game started successfully");
        play_button.style.display = 'block'
        start_button.style.display = 'none'
        game = data.game;
        game_id = data.game_id;
        console.log(data);
    } else {
        console.log("Error starting game: " + data.message);
    }
}

let playGame = async () => {
    let video = document.getElementById('user-1');
    let canvas = document.getElementById('canvas-user-1');
    canvas.style.display = 'block'
    canvas.width = video.clientWidth;
    canvas.height = video.clientHeight;
    canvas.style.position = 'absolute';
    canvas.style.top = video.offsetTop + 'px';
    canvas.style.left = video.offsetLeft + 'px';

    let playerctx = canvas.getContext('2d');
    const videoElement = document.getElementsByClassName('video-player')[0];

    //set text on the playerctx canvas
    playerctx.font = '48px serif';
    playerctx.fillStyle = 'white';
    //delete text from the canvas
    playerctx.clearRect(0, 0, canvas.width, canvas.height);
    let screenshotSent = false;

    function countDown(count) {
        if (count === 0) {
            takeScreenshot();
        } else {
            console.log(count);
            setTimeout(() => {
                countDown(count - 1);
            }, 1000);
        }
    }

    function takeScreenshot() {
        const canvasElement = document.createElement('canvas');
        canvasElement.width = videoElement.videoWidth;
        canvasElement.height = videoElement.videoHeight;
        const canvasCtx = canvasElement.getContext('2d');
        canvasCtx.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);
        const imgData = canvasElement.toDataURL('image/jpeg', 0.5);
        if (!screenshotSent) {
            fetch('/play_round_offline/' + game_id + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify({
                        screenshot: imgData
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let score = data.score;
                    let player1Score = document.getElementsByClassName("Player-count")[0];
                    let roundCount = document.getElementsByClassName("Round-count")[0];
                    let player2Score = document.getElementsByClassName("Computer-count")[0];
                    let roundOrResult = document.getElementById("roundOrResult");
                    if (data.hands_detected) {

                        player1Score.textContent = score.User;
                        player2Score.textContent = score.Computer;
                        roundCount.textContent = data.result;

                        playerctx.fillText(data.player_move, 10, 50)
                        playerctx.fillText(data.confidence_score, 10, 100)
                        playerctx.fillText(data.computer_move, canvas.width - 200, 50)
                    }
                    if (data.game_over) {

                        player1Score.textContent = score.User;
                        player2Score.textContent = score.Computer;
                        roundCount.textContent = data.result;

                        playerctx.fillText(data.player_move, 10, 50)
                        playerctx.fillText(data.confidence_score, 10, 100)
                        playerctx.fillText(data.computer_move, canvas.width - 200, 50)

                        roundOrResult.textContent = "Game Over:";
                        let winner = data.winner;
                        roundCount.textContent = "You " + winner + "!";
                        play_button.style.display = 'none'
                        start_button.style.display = 'block'
                        canvas.style.display = 'none'
                    }
                    if (!data.hands_detected) {
                        alert("No hands detected. Please try again. Try in a brighter room.")
                        screenshotSent = false;
                    } else if (data.message === "Invalid move") {
                        alert("Invalid move. Please try again.")
                        screenshotSent = false;
                    } else {
                        screenshotSent = true;
                    }
                }).catch(error => {
                    console.error(
                        'There has been a problem with your fetch operation:',
                        error
                    );
                });
        }
    }


    countDown(1);

    const camera = new Camera(videoElement, {
        onFrame: async () => {},
        width: 1280,
        height: 720
    });
    camera.start();
}

const start_button = document.getElementById('start-btn')
start_button.addEventListener('click', startGame)

init()

</script>


<style>
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#computerPlayModal{
   display: none;
}


.computerCanvas{
   position: absolute;
   top: 0px;
   left: 0px;
   }


.video-player{
    width: 100%;
}

#user-2{
    display: none;
}
canvas{
    display: none;
}
.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}


.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img{
    height: 30px;
    width: 30px;
}

#leave-btn{
    background-color: rgb(255,80,80, 1);
}

#winner-text{
    display: none;
}


.scoreboard {
  width: 100%;
}
  table {
    width: 100%;
    background: lighten($body-bg, 3);}

    td {
      padding: .5em;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
    }

    thead {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2em;
}
      td {
        padding-top: 2em;
      }

    tbody td {
        font-size: 1em;
        font-weight: 900;
        line-height: 1em;
      }
@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}

</style>