{% load static %}
{% csrf_token %}
<form method="POST" enctype="multipart/form-data">
    <div id="videos">
        <video class="video-player" id="user-1" autoplay playsinline></video>
        <canvas class="output_canvas" width="1280px" height="720px"></canvas>
        <canvas class="video-player" id="computer" autoplay playsinline></canvas>
    </div>
    <div id="controls">
        <div class="control-container" id="camera-btn">
            <img src="{% static 'icons/photo-camera.png' %}" />
        </div>
        <div class="control-container" id="play-btn">
            <img src="{% static 'icons/shuffle.png' %}" />
        </div>

        <div class="control-container" id="start-btn">
            <img src="{% static 'icons/play-button.png' %}" />
        </div>
        <div class="control-container" id="leave-btn">
            <img src="{% static 'icons/cancel.png' %}" />
        </div>

    </div>
</form>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/agora-rtm-sdk-1.5.1.js' %}"></script>

<script>
let game;
let game_id
const csrftoken = getCookie('csrftoken');
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}

let getRoomId = () => {
    let currentUrl = window.location.href;
    let parts = currentUrl.split("/");
    return parts[parts.length - 2];
}
let roomId = getRoomId();
if(!roomId) {
window.location.href = '/'
}

let localStream;

let constraints = {
    video:{
        width:{min:640, ideal:1920, max:1920},
        height:{min:480, ideal:1080, max:1080},
    },
    audio:false
}
let bestOf;
let init = async () => {
    localStream = await navigator.mediaDevices.getUserMedia(constraints)
    document.getElementById('user-1').srcObject = localStream
    bestOf = prompt("Best of how many games?");
    play_button.style.display = 'none'
}



let leaveChannel = async () => {
    await channel.leave()
    await client.logout()
}

let toggleCamera = async () => {
    let videoTrack = localStream.getTracks().find(track => track.kind === 'video')

    if(videoTrack.enabled){
        videoTrack.enabled = false
        document.getElementById('camera-btn').style.backgroundColor = 'rgb(255, 80, 80)'
    }else{
        videoTrack.enabled = true
        document.getElementById('camera-btn').style.backgroundColor = 'rgb(179, 102, 249, .9)'
    }
}

let playGame = async () => {
    const videoElement = document.getElementsByClassName('video-player')[0];
    let screenshotSent = false;

    function countDown(count) {
        if (count === 0) {
            takeScreenshot();
        } else {
            console.log(count);
            setTimeout(() => {
                countDown(count - 1);
            }, 1000);
        }
    }

    function takeScreenshot() {
        const canvasElement = document.createElement('canvas');
        canvasElement.width = videoElement.videoWidth;
        canvasElement.height = videoElement.videoHeight;
        const canvasCtx = canvasElement.getContext('2d');
        canvasCtx.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);
        const imgData = canvasElement.toDataURL('image/jpeg', 0.5);
        if (!screenshotSent) {
            // Send the image to the server for processing
            fetch('/play_game/' + game_id + '/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    screenshot: imgData,
                })
            })
            .then(response => {
                console.log(response)
            })
            .catch(error => {
                console.log(error)
            });
            screenshotSent = true;
        }
    }

    countDown(3);

    const camera = new Camera(videoElement, {
        onFrame: async () => {},
        width: 1280,
        height: 720
    });
    camera.start();
}





let leaveRoom = async () => {
    // Make an HTTP request to the view function 'leave_room' in views.py
    fetch('/leave_room/' + roomId, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
    }).then(response => {
    if(response.status === 200){
        console.log("Left the room successfully")
        window.location.href = '/'
    }
})
.catch(error => {i
    console.log("Error leaving the room")
});
}
window.addEventListener('beforeunload', leaveChannel)

const camera_button = document.getElementById('camera-btn')
camera_button.addEventListener('click', toggleCamera)

const play_button = document.getElementById('play-btn')
play_button.addEventListener('click', playGame)

const start_button = document.getElementById('start-btn')
start_button.addEventListener('click', startGame)

const leave_button = document.getElementById('leave-btn')
camera_button.addEventListener('click', leaveRoom)

init()

</script>


<style>
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videos{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow:hidden;
}

.video-player{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user-2{
    display: none;
}

.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}


.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img{
    height: 30px;
    width: 30px;
}

#leave-btn{
    background-color: rgb(255,80,80, 1);
}

@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}
</style>