{% load static %}
{% csrf_token %}
<input id="host_id" type="hidden" value="{{host_id}}">
<input id="opponent_id" type="hidden" value="{{opponent_id}}">
<input id="current_user_id" type="hidden" value="{{current_user_id}}">

<div id="alert-container"></div>
<div class="room__conversation">
    <div class="scoreboard">
        <h2 id="best-of">Scoreboard: Best of:</h2>
        <table>
            <thead>
            <td>Player</td>
            <td id="roundOrResult">Round</td>
            <td>Computer</td>
            </thead>
            <tbody>
            <tr>
                <td class="Player-count">0</td>
                <td class="Round-count"></td>
                <td class="Computer-count">0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="threads scroll">
    <form enctype="multipart/form-data" method="POST">
        <div id="videos">
            <video autoplay class="video-player" id="user-1" playsinline></video>
            <canvas id="canvas-user-1"></canvas>
            <video autoplay class="video-player" id="user-2" playsinline></video>
            <canvas id="canvas-user-2"></canvas>
        </div>
        <div id="controls">
            <div class="control-container" id="camera-btn">
                <img src="{% static 'icons/photo-camera.png' %}"/>
            </div>
            <div class="control-container" id="play-btn">
                <img src="{% static 'icons/shuffle.png' %}"/>
            </div>

            <div class="control-container" id="start-btn">
                <img src="{% static 'icons/play-button.png' %}"/>
            </div>
            <div class="control-container" id="leave-btn">
                <img src="{% static 'icons/cancel.png' %}"/>
            </div>
        </div>
    </form>
</div>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'js/agora-rtm-sdk-1.5.1.js' %}"></script>
<script src="{% static 'js/video.js' %}"></script>
<script src="{% static 'js/online_room.js' %}"></script>
<style>
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#computerPlayModal{
   display: none;
}


.computerCanvas{
   position: absolute;
   top: 0px;
   left: 0px;
   }


.video-player{
    width: 100%;
}

#user-2{
    display: none;
}
canvas{
    display: none;
}
.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 300px;
    border-radius: 5px;
    border:2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}


.control-container{
  background-color: rgb(179, 102, 249, .9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img{
    height: 30px;
    width: 30px;
}

#leave-btn{
    background-color: rgb(255,80,80, 1);
}

#winner-text{
    display: none;
}


.scoreboard {
  width: 100%;
}
  table {
    width: 100%;
    background: lighten($body-bg, 3);}

    td {
      padding: .5em;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
    }

    thead {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2em;
}
      td {
        padding-top: 2em;
      }

    tbody td {
        font-size: 1em;
        font-weight: 900;
        line-height: 1em;
      }
@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}


</style>