{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{{request.META.HTTP_REFERER}}">
                        <svg height="32" version="1.1" viewBox="0 0 32 32" width="32"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Create/Update Play Room</h3>
                </div>
            </div>
            <div class="layout__body">

                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form__group">
                        {{ form.online.label }}
                        {{ form.online }}
                        {% if form.online.errors %}
                        <ul class="errorlist">
                            {% for error in form.online.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="form__group">
                        {{ form.host.label }}
                        {{ form.host }}
                    </div>
                    <div class="form__group">
                        {{ form.code.label }}
                        {{ form.code }}
                    </div>
                    <div class="form__group">
                        {{ form.name.label }}
                        {{ form.name }}
                    </div>
                    <div class="form__action">
                        <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                        <button class="btn btn--main" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}