{% extends 'main.html' %}
{% load static %}
{% block content %}
<form id="upload-file" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <video class="input_video" hidden="hidden"></video>
    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    <button type="submit" class="btn btn-success">Upload</button>
  </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<script type="module">
const videoElement = document.getElementsByClassName('input_video')[0];
const canvasElement = document.getElementsByClassName('output_canvas')[0];
const canvasCtx = canvasElement.getContext('2d');

function onResults(results) {
  canvasCtx.save();
  canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
  canvasCtx.drawImage(
      results.image, 0, 0, canvasElement.width, canvasElement.height);
  if (results.multiHandLandmarks) {
    for (const landmarks of results.multiHandLandmarks) {
      drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                     {color: '#00FF00', lineWidth: 5});
      drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
    }
  }
  canvasCtx.restore();
}

const hands = new Hands({locateFile: (file) => {
  return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
}});
hands.setOptions({
  maxNumHands: 1,
  modelComplexity: 1,
  minDetectionConfidence: 0.5,
  minTrackingConfidence: 0.5
});
hands.onResults(onResults);

const camera = new Camera(videoElement, {
  onFrame: async () => {
    await hands.send({image: videoElement});
  },
  width: 1280,
  height: 720
});
camera.start();

$('container').on('submit','#upload-file',function(e){
  e.preventDefault()
  var canvas = document.getElementsByClassName('output_canvas')[0];
  var imgData = canvas.toDataURL("image/png");
  var img = document.createElement("img");
  img.src = imgData;
  var formData = new FormData(img);
   $.ajax({
         url: "{% url 'test_hand' %}",
         type: 'POST',
         data: formData,
         success: function (response) {
         console.log(response);
         },
         error: function (response) {
         console.log(response);
         },
        cache: false,
        contentType: false,
        processData: false
   });
});
</script>
{% endblock %}

