cvzone==1.5.6
keras==2.11.0
keras_squeezenet==0.4
numpy==1.24.1
opencv_python==4.7.0.68
tensorflow==2.11.0

opencv-python~=4.7.0.68
Pillow~=9.4.0
jupyter~=1.0.0
pip~=22.3.1
attrs~=22.2.0
wheel~=0.38.4
tornado~=6.2
Jinja2~=3.1.2
rsa~=4.9
pyasn1~=0.4.8
gast~=0.4.0
h5py~=3.7.0
ipython~=8.7.0
six~=1.16.0
scipy~=1.9.3
cffi~=1.15.1
matplotlib~=3.6.2
setuptools~=65.5.1
cachetools~=5.2.0
certifi~=2022.12.7
urllib3~=1.26.13
requests~=2.28.1
Pygments~=2.14.0
Markdown~=3.4.1
PyYAML~=6.0
oauthlib~=3.2.2
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
termcolor~=2.1.1
torch~=1.13.1
packaging~=22.0
pyparsing~=3.0.9
tensorboard~=2.11.0
flatbuffers~=22.12.6
wrapt~=1.14.1
astunparse~=1.6.3
pandas~=1.5.2