<div class="activities">
    <div class="activities__header">
        <h2>Leaderboard</h2>
    </div>
    {% for player in players %}
    <div class="activities__box">
        <a href="{% url 'user-profile' player.user.id%}" class="roomListRoom__author">
            <div class="avatar avatar--small">
                <img src="{{player.user.avatar.url}}" />
            </div>
            <p>
                @{{player.user.username}}
                <span>{{player.created|timesince}} ago</span>
            </p>
        </a>
    </div>
    {% endfor %}
</div>