{% extends 'main.html' %}
{% block content %}
<main class="profile-page layout layout--2">
  <div class="container">
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Game Room</h3>
        </div>

      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
          <h3>Room with primary key {{ pk }} does not exist.</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">No Players<span>{{players.count}}</span></h3>
      <div class="participants__list scroll">
      </div>
    </div>
    <!--  End -->
  </div>
</main>
<script src="script.js"></script>
{% endblock content %}