{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Create/Update Play Room</h3>
        </div>
      </div>
      <div class="layout__body">

        <form class="form" action="" method="POST">
  {% csrf_token %}
  <div class="form__group">
    {{ form.room_type.label }}
    <select required id="room_type" name="room_type">
      {% for room_type, label in ROOM_TYPE_CHOICES %}
        <option value="{{ room_type }}">{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form__group">
    {{ form.host.label }}
    {{ form.host }}
  </div>
  <div class="form__group">
    {{ form.code.label }}
    {{ form.code }}
  </div>
  <div class="form__group">
    {{ form.name.label }}
    {{ form.name }}
  </div>
  <div class="form__action">
    <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
    <button class="btn btn--main" type="submit">Create</button>
  </div>
</form>

<script>
  console.log('{{ form.room_type.label }}');
  console.log('{{ form.host.label }}');
  console.log('{{ form.code.label }}');
  console.log('{{ form.name.label }}');
</script>


      </div>
    </div>
  </div>
</main>

{% endblock content %}
